Web Services ( SOAP_RESTful)/SOAP/SOAP_CLIENT(SWING)/WrestleClient/src/META-INF/wsdl/localhost_8080/soap/WService.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><xs:schema xmlns:tns="http://ws/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://ws/">

<xs:element name="Exceptions" type="tns:Exceptions"/>

<xs:element name="check" type="tns:check"/>

<xs:element name="checkResponse" type="tns:checkResponse"/>

<xs:element name="getAllCountries" type="tns:getAllCountries"/>

<xs:element name="getAllCountriesResponse" type="tns:getAllCountriesResponse"/>

<xs:element name="getAllFights" type="tns:getAllFights"/>

<xs:element name="getAllFightsPpv" type="tns:getAllFightsPpv"/>

<xs:element name="getAllFightsPpvResponse" type="tns:getAllFightsPpvResponse"/>

<xs:element name="getAllFightsResponse" type="tns:getAllFightsResponse"/>

<xs:element name="getAllPpv" type="tns:getAllPpv"/>

<xs:element name="getAllPpvResponse" type="tns:getAllPpvResponse"/>

<xs:element name="getAllSeats" type="tns:getAllSeats"/>

<xs:element name="getAllSeatsResponse" type="tns:getAllSeatsResponse"/>

<xs:element name="insert" type="tns:insert"/>

<xs:element name="insertResponse" type="tns:insertResponse"/>

<xs:complexType name="insert">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0"/>
<xs:element name="arg1" type="xs:string" minOccurs="0"/>
<xs:element name="arg2" type="xs:string" minOccurs="0"/>
<xs:element name="arg3" type="xs:string" minOccurs="0"/>
<xs:element name="arg4" type="xs:string" minOccurs="0"/>
<xs:element name="arg5" type="xs:string" minOccurs="0"/>
<xs:element name="arg6" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="insertResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getAllFights">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getAllFightsResponse">
<xs:sequence>
<xs:element name="return" type="tns:fight" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="fight">
<xs:sequence>
<xs:element name="country" type="xs:string" minOccurs="0"/>
<xs:element name="date" type="xs:string" minOccurs="0"/>
<xs:element name="duration" type="xs:string" minOccurs="0"/>
<xs:element name="freePlace" type="xs:string" minOccurs="0"/>
<xs:element name="id" type="xs:int"/>
<xs:element name="ppv" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="check">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0"/>
<xs:element name="arg1" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="checkResponse">
<xs:sequence>
<xs:element name="return" type="tns:fight" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="Exceptions">
<xs:sequence>
<xs:element name="message" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getAllSeats">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getAllSeatsResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getAllPpv">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getAllPpvResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getAllFightsPpv">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0"/>
<xs:element name="arg1" type="xs:string" minOccurs="0"/>
<xs:element name="arg2" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getAllFightsPpvResponse">
<xs:sequence>
<xs:element name="return" type="tns:fight" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getAllCountries">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getAllCountriesResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>
</xs:schema>