Web Services ( SOAP_RESTful)/SOAP/SOAP_CLIENT(SWING)/WrestleClient/src/META-INF/WService.xml

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws/" name="WService">
<types>
<xsd:schema>
<xsd:import namespace="http://ws/" schemaLocation="http://localhost:8080/soap/WService?xsd=1"/>
</xsd:schema>
</types>
<message name="getAllSeats">
<part name="parameters" element="tns:getAllSeats"/>
</message>
<message name="getAllSeatsResponse">
<part name="parameters" element="tns:getAllSeatsResponse"/>
</message>
<message name="getAllPpv">
<part name="parameters" element="tns:getAllPpv"/>
</message>
<message name="getAllPpvResponse">
<part name="parameters" element="tns:getAllPpvResponse"/>
</message>
<message name="getAllFights">
<part name="parameters" element="tns:getAllFights"/>
</message>
<message name="getAllFightsResponse">
<part name="parameters" element="tns:getAllFightsResponse"/>
</message>
<message name="getAllCountries">
<part name="parameters" element="tns:getAllCountries"/>
</message>
<message name="getAllCountriesResponse">
<part name="parameters" element="tns:getAllCountriesResponse"/>
</message>
<message name="getAllFightsPpv">
<part name="parameters" element="tns:getAllFightsPpv"/>
</message>
<message name="getAllFightsPpvResponse">
<part name="parameters" element="tns:getAllFightsPpvResponse"/>
</message>
<message name="Exceptions">
<part name="fault" element="tns:Exceptions"/>
</message>
<portType name="WrestleService">
<operation name="getAllSeats">
<input wsam:Action="http://ws/WrestleService/getAllSeatsRequest" message="tns:getAllSeats"/>
<output wsam:Action="http://ws/WrestleService/getAllSeatsResponse" message="tns:getAllSeatsResponse"/>
</operation>
<operation name="getAllPpv">
<input wsam:Action="http://ws/WrestleService/getAllPpvRequest" message="tns:getAllPpv"/>
<output wsam:Action="http://ws/WrestleService/getAllPpvResponse" message="tns:getAllPpvResponse"/>
</operation>
<operation name="getAllFights">
<input wsam:Action="http://ws/WrestleService/getAllFightsRequest" message="tns:getAllFights"/>
<output wsam:Action="http://ws/WrestleService/getAllFightsResponse" message="tns:getAllFightsResponse"/>
</operation>
<operation name="getAllCountries">
<input wsam:Action="http://ws/WrestleService/getAllCountriesRequest" message="tns:getAllCountries"/>
<output wsam:Action="http://ws/WrestleService/getAllCountriesResponse" message="tns:getAllCountriesResponse"/>
</operation>
<operation name="getAllFightsPpv">
<input wsam:Action="http://ws/WrestleService/getAllFightsPpvRequest" message="tns:getAllFightsPpv"/>
<output wsam:Action="http://ws/WrestleService/getAllFightsPpvResponse" message="tns:getAllFightsPpvResponse"/>
<fault message="tns:Exceptions" name="Exceptions" wsam:Action="http://ws/WrestleService/getAllFightsPpv/Fault/Exceptions"/>
</operation>
</portType>
<binding name="WrestleServicePortBinding" type="tns:WrestleService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="getAllSeats">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getAllPpv">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getAllFights">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getAllCountries">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getAllFightsPpv">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exceptions">
<soap:fault name="Exceptions" use="literal"/>
</fault>
</operation>
</binding>
<service name="WService">
<port name="WrestleServicePort" binding="tns:WrestleServicePortBinding">
<soap:address location="http://localhost:8080/soap/WService"/>
</port>
</service>
</definitions>